<center>
<iframe src="https://wordwall.net/embed/f4c1b49aefe7476897e2e12fbb6e5d6e?themeId=52&templateId=8" width="800" height="800" frameborder="0" allowfullscreen></iframe>    
</center>
<hr>
<center>
<p>Made website made by KingOnYT resourses used by wordwall</p>
<%= link_to "KinOnYT's Youtube Channel", 'https://www.youtube.com/channel/UCfEVS3KrfwjnIovgqDXsLeQ' %>
</center>